:root {
    --color-background: #EEEEEE;
    --color-babyblue: #28abb9;
    --color-navyblue: #2d6187;
    --color-sandgreen: #a8dda8;
    --color-greenishwhite: #effad3;
}
*{
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Poppins;
    background: var(--color-background);
}